@import ../src__sass/mixins

// grid //

.grid
    margin: 80px 0

.grid__body
    display: flex
    flex-wrap: wrap
    justify-content: center

    display: grid
    grid-template: repeat(3, 400px) / repeat(3, 640px)
    grid-template-areas: ". photo1 ." "photo2 . photo3" ". photo4 photo3" 
    
// grid__content //

.grid__content
    display: flex
    justify-content: center
    align-items: center
    
// grid__block //

.grid__block
    display: flex
    flex-direction: column
    margin: 0 auto

.grid__h2
    +grid__h2 
.grid__line
    +grid__line
.grid__h3
    +grid__h3

.grid__content__1
    background: #f8f8f8
.grid__content__2
    background: #d2d6d9 url('/img/3_Grid/grid__2.jpg')
    grid-area: photo1
.grid__content__3
    background: #f8f8f8
.grid__content__4
    background: #d2d6d9 url('/img/3_Grid/grid__4.jpg')
    grid-area: photo2
.grid__content__5
    background: #f8f8f8
.grid__content__6
    background: #1c1c1c url('/img/3_Grid/grid__9.jpg')
    grid-area: photo3
.grid__content__7
    background: #f4f0eb 
.grid__content__8
    background: #f4f0eb url('/img/3_Grid/grid__7.jpg')
    grid-area: photo4
.grid__content__9
    .grid__block
        margin-top: 60%
    grid-area: photo3 
    .grid__h2
        color: #ffffff
    .grid__line
        background: #ffffff
    .grid__h3
        color: #ffffff
    
    