@import ../src__sass/mixins

.drop
    overflow: hidden
    margin: 0 0 80px 0

.container 

.drop__body 
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.drop__block 

.drop__block_1 

.drop__block_2 

.drop__block_3 

.drop_title
    +drop_title
    margin: 0 0 20px 0

.drop_text
    +drop_text

.drop__block__info
    display: flex
    align-items: center
    img
        display: block
        margin-right: 1rem
        width: 3rem
        height: 3rem

.drop__block__title
    +drop_info_title
   
.drop_block_p 
    +drop_info_text
    margin: 20px 0 20px 0 
    
.drop_block_p_3,.drop_block_p_6
    margin: 20px 0 0 0

@media screen and ( max-width: 1024px )
    .drop__body
        justify-content: space-around

@media screen and ( max-width: 768px )
    .drop__body
        flex-wrap: wrap
        justify-content: center
        width: 30rem
        margin: 0 auto
    .drop__block
        margin-bottom: 50px

@media screen and ( max-width: 320px )
    .project_btn
        padding: 20px 70px

@media screen and (max-width: 768px)
    .drop__body 
        width: 18rem 
    .mobile__body
        svg
            display: none
    .project_p
        text-align: start
    .project_h2 
        font-size: 18px
    .project_h2
        margin-bottom: 1rem
    
