@import ./vars

// header //
    
=header_bgc
    background-color: $header_bgc

// nav-link

=nav_link
    color: $nav_link_color
    font-family: $nav_link_ff
    font-size: $nav_link_fz
    font-weight: $nav_link_fw

    text-decoration: $nav_link_td

// nav-btn

=nav_btn
    background: $nav_btn_bgc
    color: $nav_btn_color
    font-family: $nav_btn_ff
    font-size: $nav_btn_fz
    font-weight: $nav_btn_fw
    text-decoration: $nav_btn_td

    height: $nav_btn_h
    width: $nav_btn_w
    border-radius: $nav_btn_b_r

// offer //

// offer__title

=offer_title
    color: $offer_title_color
    font-family: $offer_title_ff
    font-size: $offer_title_fz
    font-weight: $offer_title_fw
        

// offer__btn

=main_btn
    background: $offer_main-btn_bgc
    color: $offer_main-btn_color
    font-family: $offer_main-btn_ff
    font-size: $offer_main-btn_fz
    font-weight: $offer_main-btn_fw

    padding: $offer_main-btn_pd
    border-radius: $offer_main-btn-br-r

=main_btn_hover
    background: $offer_main-btn_hover_bgc
    color: $offer_main-btn_hover_color  
    transition-duration: $offer_main-btn_hover_anime

// cols //

// cols h2
    
=cols_h2
    color: $cols_h2_color
    font-family: $cols_h2_ff
    font-size: $cols_h2_fz
    font-weight: $cols_h2_fw

// cols p
    
=cols_p 
    color: $cols_p_color
    font-family:  $cols_p_ff
    font-size: $cols_p_fz
    font-weight: $cols_p_fw

// cols card h2

=cols_card_h3
    color: $cols_card_h3_color
    font-family: $cols_card_h3_ff  
    font-size: $cols_card_h3_fz
    font-weight: $cols_card_h3_fw

// cols card p

=cols_card_p
    color: $cols_card_p_color
    font-family: $cols_card_p_ff
    font-size: $cols_card_p_fz
    font-weight: $cols_card_p_fw
