@import ./vars

// header //
    
=header_bgc
    background-color: $header_bgc

// nav-link

=nav_link
    color: $nav_link_color
    font-family: $nav_link_ff
    font-size: $nav_link_fz
    font-weight: $nav_link_fw

    text-decoration: $nav_link_td

// nav-btn

=nav_btn
    background: $nav_btn_bgc
    color: $nav_btn_color
    font-family: $nav_btn_ff
    font-size: $nav_btn_fz
    font-weight: $nav_btn_fw
    text-decoration: $nav_btn_td

    height: $nav_btn_h
    width: $nav_btn_w
    border-radius: $nav_btn_b_r

// offer //

// offer__title

=offer_title
    color: $offer_title_color
    font-family: $offer_title_ff
    font-size: $offer_title_fz
    font-weight: $offer_title_fw
        

// offer__btn

=main_btn
    background: $offer_main-btn_bgc
    color: $offer_main-btn_color
    font-family: $offer_main-btn_ff
    font-size: $offer_main-btn_fz
    font-weight: $offer_main-btn_fw

    padding: $offer_main-btn_pd
    border-radius: $offer_main-btn-br-r

=main_btn_hover
    background: $offer_main-btn_hover_bgc
    color: $offer_main-btn_hover_color  
    transition-duration: $offer_main-btn_hover_anime

// cols //

// cols h2
    
=cols_h2
    color: $cols_h2_color
    font-family: $cols_h2_ff
    font-size: $cols_h2_fz
    font-weight: $cols_h2_fw

// cols p
    
=cols_p 
    color: $cols_p_color
    font-family:  $cols_p_ff
    font-size: $cols_p_fz
    font-weight: $cols_p_fw

// cols card h2

=cols_card_h3
    color: $cols_card_h3_color
    font-family: $cols_card_h3_ff  
    font-size: $cols_card_h3_fz
    font-weight: $cols_card_h3_fw

// cols card p

=cols_card_p
    color: $cols_card_p_color
    font-family: $cols_card_p_ff
    font-size: $cols_card_p_fz
    font-weight: $cols_card_p_fw

// grid //

=grid__h2
    color: $grid_h2_color
    display: $grid_h2_ds
    font-family: $grid_h2_ff
    font-size: $grid_h2_fz
    font-weight: $grid_h2_fw

=grid__line
    background: $grid_line_bgc
    display: $grid_line_ds
    height: $grid_line_h
    width: $grid_line_w
    margin: $grid_line_m

=grid__h3
    color: $grid_h3_color
    display: $grid_h3_ds
    font-family: $grid_h3_ff
    font-size: $grid_h3_fz
    font-weight: $grid_h3_fw

// devices //

// project_h1 

=project_h1
    color: $project_h1_color
    font-family: $project_h1_ff
    font-size: $project_h1_fz
    font-weight: $project_h1_fw

// project_h2

=project_h2
    color: $project_h2_color
    font-family: $project_h2_ff
    font-size: $project_h2_fz
    font-weight: $project_h2_fw

// project_h3

=project_h3
    color: $project_h3_color
    font-family: $project_h3_ff
    font-size: $project_h3_fz
    font-weight: $project_h3_fw

// project_p

=project_p      
    color: $project_p_color
    font-family: $project_p_ff
    font-size: $project_p_fz
    font-weight: $project_p_fw

// project_btn
        
=project_btn
    color: $project_btn_color
    font-family: $project_btn_ff
    font-size: $project_btn_fz
    font-weight: $project_btn_fw

    background: $project_btn_bgc
    padding: $project_btn_p
    border-radius: $project_btn_r

// project_btn_hover

=project_btn_hover
    background: $project_btn_bgc_hover
    color: $project_btn_color_hover
    transition-duration: $project_btn_anime_hover

// stats //

=stats_h1
    color: $stats_h1_color
    font-family: $stats_h1_ff
    font-size: $stats_h1_fz
    font-weight: $stats_h1_fw

=stats_price
    color: $stats_price_color
    font-family: $stats_price_ff
    font-size: $stats_price_fz
    font-weight: $stats_price_fw
    
=stats_info
    color: $stats_info_color
    font-family: $stats_info_ff
    font-size: $stats_info_fz
    font-weight: $stats_info_fw

=stats_text
    color: $stats_text_color
    font-family: $stats_text_ff
    font-size: $stats_text_fz
    font-weight: $stats_text_fw

=stats_btn_a
    background-color: $stats_btn_bgc
    border-radius: $stats_btn_b_r
    width: $stats_btn_w
    height: $stats_btn_h

    color: $stats_btn_color
    font-family: $stats_btn_ff
    font-size: $stats_btn_fz
    font-weight: $stats_btn_fw

=stats_btn_hover
    color: $stats_btn_color_hover
    background-color: $stats_btn_bgc_hover

// blog //

=blog_title
    color: $blog_title_color
    font-family: $blog_title_ff
    font-size: $blog_title_fz
    font-weight: $blog_title_fw

=img_blog_angle
    color: $img_blog_angle_color
    font-family: $img_blog_angle_ff
    font-size: $img_blog_angle_fz
    font-weight: $img_blog_angle_fw

    background-color: $img_blog_angle_bgc
    height: $img_blog_angle_h
    width: $img_blog_angle_w
    border-radius: $img_blog_angle_b_r

=img_blog_title
    color: $img_blog_title_color
    font-family: $img_blog_title_ff
    font-size: $img_blog_title_fz
    font-weight: $img_blog_title_fw

=img_blog_text
    color: $img_blog_text_color
    font-family: $img_blog_text_ff
    font-size: $img_blog_text_fz
    font-weight: $img_blog_text_fw

=img_mini_blog_angle
    color: $img_mini_blog_angle_color
    font-family: $img_mini_blog_angle_ff
    font-size: $img_mini_blog_angle_fz
    font-weight: $img_mini_blog_angle_fw

    background: $img_mini_blog_angle_bgc
    height: $img_mini_blog_angle_h
    width: $img_mini_blog_angle_w
    border-radius: $img_mini_blog_angle_b_r

=img_mini_blog_text
    color: $img_mini_blog_text_color
    font-family: $img_mini_blog_text_ff
    font-size: $img_mini_blog_text_fz
    font-weight: $img_mini_blog_text_fw

=blog_link
    background-color: $blog_btn_bgc
    color: $blog_btn_color 
    font-family: $blog_btn_ff
    font-size: $blog_btn_fz
    font-weight: $blog_btn_fw

    height: $blog_btn_h
    width: $blog_btn_w
    border-radius: $blog_btn_b_r

=blog_link__hover
    color: $stats_btn_color_hover
    background-color: $stats_btn_bgc_hover

// drop //

=drop_title
    color: $drop_title_color
    font-family: $drop_title_ff
    font-size: $drop_title_fz
    font-weight: $drop_title_fw

=drop_text
    color: drop_text_color
    font-family: drop_text_ff
    font-size: drop_text_fz
    font-weight: drop_text_fw

// drop_info //

=drop_info_title
    color: drop_info_title_color
    font-family: drop_info_title_ff
    font-size: drop_info_title_fw
    font-weight:drop_info_title_fw

=drop_info_text
    color: $drop_info_text_color
    font-family: $drop_info_text_ff
    font-size: $drop_info_text_fz
    font-weight: $drop_info_text_fw

// facts //

=facts_h1
    color: $facts_h1_color
    font-family: $facts_h1_ff
    font-size: $facts_h1_fz
    font-weight: $facts_h1_fw

=facts_price
    color: $facts_price_color
    font-family: $facts_price_ff
    font-size: $facts_price_fz
    font-weight: $facts_price_fw

=facts_info
    color: $facts_info_color
    font-family: $facts_info_ff
    font-size: $facts_info_fw
    font-weight: $facts_info_fw

=facts_text
    color: $facts_text_color
    font-family: $facts_text_ff
    font-size: $facts_text_fz
    font-weight: $facts_text_fw

// brand //

=brand_title
   color: $brand_title_color
   font-family: $brand_title_ff
   font-size: $brand_title_fz
   font-weight: $brand_title_fw

=brand_text
    color:$brand_text_color
    font-family: $brand_text_ff
    font-size: $brand_text_fz
    font-weight: $brand_text_fw

=brand_by
    color: $brand_by_color
    font-family: $brand_by_ff
    font-size: $brand_by_fz
    font-weight: $brand_by_fw

=brand_ink
    color: $brand_by_color
    font-family: $brand_by_ff
    font-size: $brand_by_fz
    font-weight: $brand_by_fw

// footer //

// block_one //

// footer_title_one

=footer_title_one
    color: $footer_title_one_color
    font-family: $footer_title_one_ff 
    font-size: $footer_title_one_fz
    font-weight: $footer_title_one_fw

// footer_text_one

=footer_text_one
    color: $footer_text_one_color
    font-family: $footer_text_one_ff
    font-size: $footer_text_one_fz
    font-weight: $footer_text_one_fw 

// footer_btn_one_a

=footer_btn_one_a
    background: $footer_btn_one_bgc
    height: $footer_btn_one_h
    width: $footer_btn_one_w
    border-radius: $footer_btn_one_b_r

    color: $footer_btn_one_color
    font-family: $footer_btn_one_ff
    font-size: $footer_btn_one_fz
    font-weight: $footer_btn_one_fw

// block_two //

// footer_title_two

=footer_title_two
    color: $footer_title_two_color
    font-family: $footer_title_two_ff 
    font-size: $footer_title_two_fz
    font-weight: $footer_title_two_fw

// footer_text_two 1/2

=footer_text_two
    color: $footer_text_two_color
    font-family: $footer_text_two_ff
    font-size: $footer_text_two_fz
    font-weight: $footer_text_two_fw 

=made
    color: $footer_made_two_color
    font-family: $footer_made_two_ff
    font-size: $footer_made_two_fz
    font-weight: $footer_made_two_fw 

// footer_text_two 2/2 

// list

// footer_h2_two

=footer_h2_list
    color: $footer_h2_list_two_color
    font-family: $footer_h2_list_two_ff
    font-size: $footer_h2_list_two_fz
    font-weight: $footer_h2_list_two_fw

// footer_list_two

=footer_list_two
    color: $footer_list_two_color
    font-family: $footer_list_two_ff
    font-size: $footer_list_two_fz
    font-weight: $footer_list_two_fw

