// header // 

$header_bgc: #ebecee

// nav-link

$nav_link_color: #333333
$nav_link_ff: Ubuntu, sans-serif
$nav_link_fz: 16px
$nav_link_fw: 500

$nav_link_td: none

// nav-btn

$nav_btn_bgc: #ffffff
$nav_btn_color: #333333
$nav_btn_ff: Ubuntu, sans-serif
$nav_btn_fz: 14px
$nav_btn_fw: 700

$nav_btn_td: none

$nav_btn_h: 60px
$nav_btn_w: 168px
$nav_btn_b_r: 30px

// offer //

// offer__title

$offer_title_color: #222222
$offer_title_ff: Ubuntu, sans-serif
$offer_title_fz: 60px
$offer_title_fw: 300

// offer__btn

$offer_main-btn_bgc: #ffffff
$offer_main-btn_color: #333333
$offer_main-btn_ff: Ubuntu, sans-serif
$offer_main-btn_fz: 14px
$offer_main-btn_fw: 700

$offer_main-btn_pd: 25px 100px
$offer_main-btn-br-r: 30px

$offer_main-btn_hover_bgc: #333333
$offer_main-btn_hover_color: #ffffff 
$offer_main-btn_hover_anime: .3s

// cols //

// cols h2
    
$cols_h2_color: #141311
$cols_h2_ff: Ubuntu, sans-serif
$cols_h2_fz: 30px
$cols_h2_fw: 300

// cols p
    
$cols_p_color: #414141
$cols_p_ff: Ubuntu, sans-serif
$cols_p_fz: 14px
$cols_p_fw: 300

// cols card h3

$cols_card_h3_color: #414141
$cols_card_h3_ff: Ubuntu, sans-serif
$cols_card_h3_fz: 22px
$cols_card_h3_fw: 300

// cols card p

$cols_card_p_color: #333333
$cols_card_p_ff: Nunito, sans-serif
$cols_card_p_fz: 14px
$cols_card_p_fw: 300

// grid //

// grid h2

$grid_h2_color: #8f8d8a
$grid_h2_ds: inline-block
$grid_h2_ff: Ubuntu, sans-serif
$grid_h2_fz: 30px
$grid_h2_fw: 300

// grid line

$grid_line_bgc: #141311
$grid_line_ds: inline-block
$grid_line_h: 2px
$grid_line_w: 35px
$grid_line_m: 10px 0 20px 0

// grid h3

$grid_h3_color: #141311
$grid_h3_ds: inline-block
$grid_h3_ff: Nunito, sans-serif
$grid_h3_fz: 14px
$grid_h3_fw: 300

// devices //

// project_h1 

$project_h1_color: #000000
$project_h1_ff: Ubuntu, sans-serif
$project_h1_fz: 48px
$project_h1_fw: 300

// project_h2

$project_h2_color: #5c5c5c
$project_h2_ff: Ubuntu, sans-serif
$project_h2_fz: 24px
$project_h2_fw: 300

// project_h3

$project_h3_color: #000000
$project_h3_ff: Ubuntu, sans-serif
$project_h3_fz: 22px
$project_h3_fw: 400

// project_p

$project_p_color: #333333
$project_p_ff: Ubuntu, sans-serif
$project_p_fz: 14px
$project_p_fw: 300

// project_btn      

$project_btn_color: #333333
$project_btn_ff: Ubuntu, sans-serif
$project_btn_fz: 14px
$project_btn_fw: 700

$project_btn_bgc: #e5e1e1
$project_btn_p: 30px 130px
$project_btn_r: 30px

// project_btn_hover

$project_btn_bgc_hover: #333333
$project_btn_color_hover: #e5e1e1
$project_btn_anime_hover: .3s

// stats //

// stats_h1
$stats_h1_color: #ffffff
$stats_h1_ff: Ubuntu, sans-serif
$stats_h1_fz: 48px
$stats_h1_fw: 300

// stats_price

$stats_price_color: #c89d28
$stats_price_ff: Lato, sans-serif
$stats_price_fz: 80px
$stats_price_fw: 400

// stats_info

$stats_info_color: #ffffff
$stats_info_ff: Ubuntu, sans-serif
$stats_info_fz: 22px
$stats_info_fw: 300

// stats_text

$stats_text_color: #878787
$stats_text_ff: Ubuntu, sans-serif
$stats_text_fz: 14px
$stats_text_fw: 300

// stats_btn

$stats_btn_bgc: #ffffff
$stats_btn_color: #414141
$stats_btn_ff: Ubuntu, sans-serif
$stats_btn_fz: 14px
$stats_btn_fw: 500

$stats_btn_h: 60px
$stats_btn_w: 200px
$stats_btn_b_r: 30px

$stats_btn_color_hover: #ffffff
$stats_btn_bgc_hover: #414141

// blog //

// blog_title

$blog_title_color: #000000
$blog_title_ff: Ubuntu, sans-serif
$blog_title_fz: 48px
$blog_title_fw: 300

// img_blog

//!

// img_blog_angle

$img_blog_angle_color: #ffffff
$img_blog_angle_ff: Ubuntu, sans-serif
$img_blog_angle_fz: 10px
$img_blog_angle_fw: 700

$img_blog_angle_bgc:#8d7431
$img_blog_angle_h: 25px
$img_blog_angle_w: 95px
$img_blog_angle_b_r: 30px

// img_blog_title

$img_blog_title_color: #ffffff
$img_blog_title_ff: Ubuntu, sans-serif
$img_blog_title_fz: 20px
$img_blog_title_fw: 300

// img_blog_text

$img_blog_text_color: #cccccc
$img_blog_text_ff: Ubuntu, sans-serif
$img_blog_text_fz: 10px
$img_blog_text_fw: 300

////

// img_mini_blog_angle

$img_mini_blog_angle_color: #ffffff
$img_mini_blog_angle_ff: Ubuntu, sans-serif
$img_mini_blog_angle_fz: 10px
$img_mini_blog_angle_fw: 700

$img_mini_blog_angle_bgc: #8d7431
$img_mini_blog_angle_h: 25px
$img_mini_blog_angle_w: 95px
$img_mini_blog_angle_b_r: 30px

// img_mini_blog_text

$img_mini_blog_text_color: #333333
$img_mini_blog_text_ff: Ubuntu, sans-serif
$img_mini_blog_text_fz: 16px
$img_mini_blog_text_fw: 300

// blog_btn

$blog_btn_bgc: #ffffff
$blog_btn_color: #333333
$blog_btn_ff: Ubuntu, sans-serif
$blog_btn_fz: 14px
$blog_btn_fw: 700

$blog_btn_h: 60px
$blog_btn_w: 168px
$blog_btn_b_r: 30px

// drop //

$drop_title_color: #000000
$drop_title_ff: Ubuntu, sans-serif
$drop_title_fz: 30px
$drop_title_fw: 300

$drop_text_color: #000000
$drop_text_ff: Ubuntu, sans-serif
$drop_text_fz: 16px
$drop_text_fw: 300

// drop_info //

$drop_info_title_color: #000000
$drop_info_title_ff: Ubuntu, sans-serif
$drop_info_title_fz: 22px
$drop_info_title_fw: 400

$drop_info_text_color: #333333
$drop_info_text_ff: Ubuntu, sans-serif
$drop_info_text_fz: 14px
$drop_info_text_fw: 400

// facts

$facts_h1_color: #ffffff
$facts_h1_ff: Ubuntu, sans-serif
$facts_h1_fz: 48px
$facts_h1_fw: 300

// facts_price

$facts_price_color: #c89d28
$facts_price_ff: Lato, sans-serif
$facts_price_fz: 80px
$facts_price_fw: 400


// facts_info

$facts_info_color: #ffffff
$facts_info_ff: Ubuntu, sans-serif
$facts_info_fz: 22px
$facts_info_fw: 300

// facts_text

$facts_text_color: #878787
$facts_text_ff: Ubuntu, sans-serif
$facts_text_fz: 14px
$facts_text_fw: 300

// brand //

$brand_title_color: #474747
$brand_title_ff: Ubuntu, sans-serif
$brand_title_fz: 30px
$brand_title_fw: 300

// brand!!!

// brand_text

$brand_text_color: #474747
$brand_text_ff: Ubuntu, sans-serif 
$brand_text_fz: 22px
$brand_text_fw: 300

// brand_by

$brand_by_color: #333333
$brand_by_ff: Ubuntu, sans-serif 
$brand_by_fz: 16px
$brand_by_fw: 300

// brand_ink

$brand_ink_color: #a0a0a0
$brand_ink_ff: Ubuntu, sans-serif 
$brand_ink_fz: 16px
$brand_ink_fw: 500

// footer //

// block_one //

// footer_title_one

$footer_title_one_color: #ffffff
$footer_title_one_ff: Ubuntu, sans-serif 
$footer_title_one_fz: 30px
$footer_title_one_fw: 300

// footer_text_one

$footer_text_one_color: #cccccc
$footer_text_one_ff: Ubuntu, sans-serif 
$footer_text_one_fz: 22px
$footer_text_one_fw: 300

// footer_btn_one

$footer_btn_one_color: #333333
$footer_btn_one_ff: Ubuntu, sans-serif 
$footer_btn_one_fz: 14px
$footer_btn_one_fw: 700

// footer_btn_one_a
$footer_btn_one_bgc: #cccccc
$footer_btn_one_h: 60px 
$footer_btn_one_w: 225px
$footer_btn_one_b_r: 30px

// bock_two //

// footer_title_two

$footer_title_two_color: #ffffff
$footer_title_two_ff: Ubuntu, sans-serif 
$footer_title_two_fz: 18px
$footer_title_two_fw: 300

// footer_text_two

$footer_text_two_color: #5a5a5a
$footer_text_two_ff: Ubuntu, sans-serif 
$footer_text_two_fz: 14px
$footer_text_two_fw: 300

// made

$footer_made_two_color: #999999
$footer_made_two_ff: Ubuntu, sans-serif 
$footer_made_two_fz: 11px
$footer_made_two_fw: 300

// list

// footer_h2_two

$footer_h2_list_two_color: #ffffff
$footer_h2_list_two_ff: Ubuntu, sans-serif 
$footer_h2_list_two_fz: 18px
$footer_h2_list_two_fw: 300

// footer_list_two

$footer_list_two_color: #999999
$footer_list_two_ff: Ubuntu, sans-serif 
$footer_list_two_fz: 14px
$footer_list_two_fw: 300





